.MainBanner {
  position: relative;
  height: auto;
  max-height: 550px;
  overflow: hidden;
  .content {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.164);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    h1 {
      color: var(--background-white);
    }
    p {
      color: var(--background-white);
      font-weight: 700;
    }
    .MainBanner__button {
      // position: absolute;
      width: fit-content;
    }
  }
  img {
    width: 100%;
    filter: brightness(0.9);
  }
}
