.MainBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  max-height: 550px;
  overflow: hidden;
  background: url(@img/chrys-3.jpg) center no-repeat;
  background-size: cover;
  // filter: brightness(0.5);
  .content {
    width: 100%;
    height: 100%;
    background-color: rgba(56, 55, 55, 0.395);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      width: auto;
      max-width: 330px;
      color: var(--background-white);
      font-size: 3rem;
      line-height: 3.5rem;
      margin-top: 20px;
    }
    img {
      width: 250px;
      margin: 10px;
    }
    p {
      color: var(--background-white);
      font-weight: 700;
      // width: fit-content;
      // background-color: rgba(0, 0, 0, 0.205);
      // backdrop-filter: blur(5px);
      // border-radius: 8px;
      padding: 0px 5px;
      margin-bottom: 10px;
    }
    .MainBanner__button {
      width: fit-content;
      margin-bottom: 20px;
    }
  }
}
@media (min-width: 520px) {
  .MainBanner {
    height: 370px;
  }
}
@media (max-width: 750px) {
  .MainBanner {
    height: 370px;
    .content {
      width: 100%;
      height: 100%;
      background-color: rgba(56, 55, 55, 0.395);
    }
  }
}
@media (max-width: 920px) {
  .MainBanner {
    justify-content: center;
    // background: url(@img/chrys-3.jpg) center no-repeat;
    background-size: cover;
  }
}
@media (max-width: 1200px) {
  .MainBanner {
    background: url(@img/chrys-3-1200.jpg) center no-repeat;
  }
}
@media (max-width: 600px) {
  .MainBanner {
    background: url(@img/chrys-3-600.jpg) center no-repeat;
  }
}
