form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  height: auto;
  backdrop-filter: blur(3px);
  border: solid 5px var(--yellow);
  border-radius: 8px;
  .volver-btn {
    position: absolute;
    bottom: 10px;
    filter: saturate(0.8);
    font-size: 1.8rem;
  }
  label {
    font-size: 2.6rem;
    font-family: "Hubballi", monospace;
    font-weight: 700;
  }
  .fase-activa {
    display: flex;
  }
  .fase-inactiva {
    display: none;
  }
  .form__fase-1 {
    margin: 10px;
    flex-direction: column;
    align-items: center;
    label {
      font-size: 2.6rem;
    }
    :nth-child(2) {
      font-size: 2rem;
      margin: 5px;
      width: 280px;
    }
    :nth-child(3) {
      margin: 5px;
      width: fit-content;
    }
  }
  .form__fase-2 {
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--negocio {
      display: flex;
      flex-direction: column;
      align-items: center;
      label {
        font-size: 2.6rem;
      }
      :nth-child(2) {
        font-size: 2rem;
        margin: 5px;
        width: 280px;
      }
    }

    &--producto {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      .producto-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 2rem;
        :nth-child(1) {
          margin: 5px;
          width: 40px;
          font-size: 2rem;
        }
        :nth-child(2) {
          margin: 5px;
          width: 280px;
          font-size: 2rem;
        }
      }
      .add-delete__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 300px;
        :nth-child(1) {
          font-size: 2rem;
          color: green;
          background-color: var(--background-white);
        }
        :nth-child(2) {
          font-size: 2rem;
          color: red;
          background-color: var(--background-white);
        }
      }
      button {
        margin: 5px;
        width: fit-content;
      }
    }
    .orden {
      :nth-child(1) {
        width: 50px;
      }
    }
  }
  .form__fase-3 {
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    label {
      font-size: 2.6rem;
      margin: 5px;
    }
    input {
      margin: 5px;
      font-size: 2rem;
    }
    button {
      margin: 5px;
      width: fit-content;
    }
  }
}
