article {
  display: flex;
  align-items: center;
  max-width: fit-content;
  //! Solución temporal para centrar
  margin: 0 auto;
  padding: 10px;
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
    height: 100%;
    padding: 5px;
    p {
      text-align: justify;
    }
  }
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    border-radius: 50px;
    overflow: hidden;
    padding: 5px;
    img {
      max-width: 290px;
      border-radius: 25%;
      filter: saturate(0.2);
      transition: 0.5s;
      &:hover {
        filter: saturate(1);
        transform: scale(1.2);
      }
    }
  }
}
@media (max-width: 750px) {
  article {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    // margin: 0px 5px 10px 5px;
    margin-bottom: 10px;
    border: 5px var(--yellow);
    border-style: solid;
    border-radius: 38px;
    overflow: hidden;
    .img-container {
      padding: 0;
      width: 100%;
      height: 250px;
      border-radius: 0;
      img {
        width: 100%;
        max-width: 410px;
      }
    }
    .text-container {
      backdrop-filter: blur(3px);
      p {
        padding: 0px 10px 10px 10px;
      }
    }
  }
}
