.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    .img{
        width: 100%;
        max-width: 500px;
    }
    .content{
        margin-top: 20px;
     }
}

